.create-spot-form-container {
    width: 500px;
    margin: auto;
}

div>label {
    font-size: large;
    font-weight: bold;
}

input {
    width: 500px;
    box-sizing: border-box;
    padding: 3px 5px;
    margin: 5px 0px
}

.validation-text {
    color: red;
    width: auto;
}

#city-state-container {
    display: grid;
    grid-template-columns: 290px 200px;
    /* align-items: end; */
}

#city {
    width: 280px
}

#state {
    width: 200px
}

#lat-long-container {
    display: grid;
    grid-template-columns: 245px 245px;
    /* align-items: end; */
}

#latitude {
    width: 240px;
}

#longitude {
    width: 245px;
}

#description-text-box {
    box-sizing: border-box;
    height: 150px;
    width: 500px;
    display: flex;
    padding: 3px 5px;
    margin: 5px 0px;
}

#price-input {
    margin-left: 5px;
    width: 485px;
}

.create-spot-button {
    background-color: red;
    color: white;
    border: black solid 2px;
    box-shadow: 3px 3px 3px gray;
    width: 100px;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

.create-spot-button:hover {
    cursor: pointer;
}
