.user-button {
    width: 70px;
    font-size: x-large;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.bar-icon {
    font-size: larger;
}

.logout-button {
    background-color: gray;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 13px;
    margin-top: 5px;
}

.user-container {
    display: flex;
    align-items: center;
    color: rgb(64, 101, 133);
}

#create-spot-button {
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}
