.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.login-input {
    margin: 5px 0px 5px 0px;
    width: 400px;
}

#login-button {
    padding: 10px 0px;
    margin: 10px 0px;
    width: 400px;
    background-color: rgb(186, 74, 74);
    color: white;
    cursor: pointer;
}

.disable {
    background-color: gray !important;
    cursor: unset !important;
}

#demo-user {
    color: rgb(186, 74, 74);
    padding: 10px 0px 20px 0px;
    border: none;
    background-color: white;
}

#demo-user:hover {
    text-decoration: underline;
    cursor: pointer;
}
